@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

:root {
    --green: #18D860;
    --dk-green: #149f4a;
    --black: #323232;
}

*{
    margin: 0;
}

.layout-flex{
    font-family: 'Merienda', cursive;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    background-color: var(--black);
    font-size: 12pt;
    box-sizing: border-box; 
    color: var(--dk-green);
}

.layout-flex-alinhamento-itens{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 15px;
}

span{
    margin-right: 20px;
}

.footer-pagina {
    color: var(--dk-green);
    font-family: Silkscreen;
}